VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_SES_FROM_ADDRESS=
-e BRIGHTDATA_API_KEY=008b1060-0915-4386-b2d1-b84270cbd5b9
BRIGHTDATA_COLLECTOR_ID=
